Variable_name = Variable

In [ ]:
salary = 100000

In [ ]:
salary

100000

In [ ]:
"salary"

'salary'

Tatal salary = (Base Salary) * (1 + Bonus Rate)

In [ ]:
base_salary = 100000
bonus_rate = .10

In [ ]:
total_salary = base_salary * (1 + bonus_rate)

In [ ]:
total_salary

110000.00000000001

In [ ]:
job_id = 101

In [ ]:
job_id

101

In [ ]:
company_name = "DataWiz Inc."

In [ ]:
company_name

'DataWiz Inc.'

In [ ]:
job_wfh = True

In [ ]:
job_wfh

True

In [ ]:
job_id = 101
job_title = "Data Analyst"
job_salary = 125000

In [ ]:
print(job_id)
job_salary

101

125000

In [ ]:
print("Data Job Description")
print("********************")
print("Job ID       : ", job_id)
print("Company Name : ", company_name)
print("Job Title    : ", job_title)
print("Salary       : ", job_salary)
print("WFH          : ", job_wfh)

Data Job Description
********************
Job ID       :  101
Company Name :  DataWiz Inc.
Job Title    :  Data Analyst
Salary       :  125000
WFH          :  True