In [1]:
my_list = [1, 'Python', [2, 'SQL']]

my_list

[1, 'Python', [2, 'SQL']]

In [2]:
job_skill = ['excel', 'tableau', 'sql']

In [3]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [4]:
job_skill.append('python')

print(job_skill)

['excel', 'tableau', 'sql', 'python']

In [6]:
job_skill.insert(0, 'statistics')

job_skill

['statistics', 'statistics', 'excel', 'tableau', 'sql', 'python']

In [7]:
job_skill.remove('statistics')

job_skill

['statistics', 'excel', 'tableau', 'sql', 'python']

In [10]:
job_skill.pop(0)

'statistics'

In [12]:
job_skill.append('python')
job_skill.remove('tableau')

job_skill

['excel', 'sql', 'python']

In [13]:
len(job_skill)

3

In [16]:
job_skill[1]

'sql'

In [17]:
job_skill.insert(2, 'tableau')

In [18]:
job_skill

['excel', 'sql', 'tableau', 'python']

In [19]:
job_skill.pop(3)

'python'

# Slicing

In [20]:
job_skills = ['excel', 'sql', 'python']

In [21]:
job_skills[:]

['excel', 'sql', 'python']

In [26]:
job_skills[0:3]

['excel', 'sql', 'python']

In [29]:
job_skills[0:1]

['excel']

In [30]:
job_skills[:1]

['excel']

In [32]:
job_skills[::1]

['excel', 'sql', 'python']

In [33]:
job_skills[::2]

['excel', 'python']

In [34]:
job_skills[::3]

['excel']

In [35]:
# Concatenate 
skills1 = ['SQL', 'Tableau']
skills2 = ['Excel']

concat_skill = skills1 + skills2

print(concat_skill)

['SQL', 'Tableau', 'Excel']

### Change Value

In [36]:
job_skills = ['excel', 'tableau', 'python']

In [37]:
# Change the 'tableau' with 'sql'
job_skills[1] = 'sql'

job_skills

['excel', 'sql', 'python']

# Methods

### Append

In [38]:
# Add Tableau in the job_skills list.
job_skills.append('tableau')

job_skills

['excel', 'sql', 'python', 'tableau']

### Lenght (len)

In [39]:
# Find the numbers of items in the list.
len(job_skills)

4

### Insert

In [41]:
# Insert the Statistics skill in the beginning
job_skills.insert(0, 'statistics')

In [43]:
job_skills

['statistics', 'excel', 'sql', 'python', 'tableau']

### Remove

In [44]:
# Remove the statistics skill from the list
job_skills.remove('statistics')

In [46]:
job_skills

['excel', 'sql', 'python', 'tableau']

### Join List

#### Concat list

In [48]:
# Concatenate these two list
skills1 = ['SQL', 'Tableau']
skills2 = ['Excel']

concat_skill = skills1 + skills2

print(concat_skill)

['SQL', 'Tableau', 'Excel']

#### Append

In [49]:
skills3 = ['Python', 'Power BI']

for x in concat_skill:
    skills3.append(x)

In [50]:
skills3

['Python', 'Power BI', 'SQL', 'Tableau', 'Excel']

#### Extend

In [51]:
skills4 = ['Statistics', 'Machine Learning']

skills4.extend(skills3)

In [52]:
skills4

['Statistics',
 'Machine Learning',
 'Python',
 'Power BI',
 'SQL',
 'Tableau',
 'Excel']

#### Join

In [53]:
skills = ['Python', 'SQL', 'Excel']

# Use concatenate print formatting
print('I have these skills: ' + ', '.join(skills))

I have these skills: Python, SQL, Excel

In [54]:
luke_skills = ['python', 'bigquery', 'r']
kelly_skills = ['python', 'sql', 'looker']

In [55]:
all_skills = luke_skills + kelly_skills

all_skills

['python', 'bigquery', 'r', 'python', 'sql', 'looker']

In [56]:
all_skills[::2]

['python', 'r', 'sql']

In [61]:
all_skills[5]

'looker'

In [64]:
all_skills[-2:]

['sql', 'looker']

# Unpack list

In [67]:
job_skills = ['Python', 'SQL', 'Excel', 'Tableau', 'Power BI']

In [70]:
skill_1, skill_2, skill_3, skill_4, skill_5 = job_skills

print(skill_1)
print(skill_2)
print(skill_3)
print(skill_4)
print(skill_5)

Python
SQL
Excel
Tableau
Power BI

In [77]:
skill_concerned, skill_done, *tableau_skill_viz = job_skills

In [78]:
print(skill_concerned)

Python

In [79]:
skill_done

'SQL'

In [80]:
tableau_skill_viz

['Excel', 'Tableau', 'Power BI']

# AI generated Questions

In [81]:
# Problem: Create a list named fruits containing the elements "apple", "banana", and "cherry".
fruits = ['apple', 'banana', 'cherry']

fruits

['apple', 'banana', 'cherry']

In [83]:
# Problem: Retrieve the second item from the fruits list.
second_fruit = fruits[1]

print(second_fruit)

banana

In [84]:
# Problem: Change the value of the first item in the fruits list to "avocado".
fruits[0] = 'avocado'

print(fruits)

['avocado', 'banana', 'cherry']

In [85]:
# Problem: Add the item "orange" to the end of the fruits list.
fruits.append('orange')

In [86]:
fruits

['avocado', 'banana', 'cherry', 'orange']

In [87]:
# Problem: Insert the item "blueberry" at index 1 in the fruits list.
fruits.insert(1, 'blueberry')

fruits

['avocado', 'blueberry', 'banana', 'cherry', 'orange']

In [96]:
# Problem: Remove the item "banana" from the fruits list.
fruits.remove('banana')

fruits

ValueError: list.remove(x): x not in list

In [89]:
# Problem: Find out how many items are in the fruits list.
len(fruits)

4

In [90]:
# Problem: Given another list vegetables = ["carrot", "broccoli"], concatenate it with the fruits list.
vegetables = ['carrot', 'broccoli']

all_items = fruits + vegetables

print(all_items)

['avocado', 'blueberry', 'cherry', 'orange', 'carrot', 'broccoli']

In [93]:
# Problem: Use the extend() method to add all items from vegetables to fruits.
fruits.extend(vegetables)

fruits

['avocado',
 'blueberry',
 'cherry',
 'orange',
 'carrot',
 'broccoli',
 'carrot',
 'broccoli']

In [94]:
# Problem: Get the first two items from the fruits list.

first_two_fruits = fruits[0:2]

first_two_fruits

['avocado', 'blueberry']

In [95]:
# Problem: Get every second item from the fruits list.
every_second_fruit = fruits[::2]

every_second_fruit

['avocado', 'cherry', 'carrot', 'carrot']

In [97]:
# Problem: Unpack the fruits list in appropiate sequence.
fruits1, fruits2, fruits3, fruits4, *vegetables1 = fruits

print(fruits1)
print(fruits2)
print(fruits3)
print(fruits4)
print(vegetables1)

avocado
blueberry
cherry
orange
['carrot', 'broccoli', 'carrot', 'broccoli']

In [98]:
# Problem: Unpack the fruits list into three variables.
fruits = ['apple', 'banana', 'cherry']

fruits_1, fruits_2, fruits_3 = fruits

print(fruits_1)
print(fruits_2)
print(fruits_3)

apple
banana
cherry