In [1]:
job_skills = {'Python', 'SQL', 'Tableau', 'Statistics'}

In [2]:
job_skills

{'Python', 'SQL', 'Statistics', 'Tableau'}

In [3]:
job_skills[2]

TypeError: 'set' object is not subscriptable

In [5]:
job_skills.add('Power BI')

job_skills

{'Power BI', 'Python', 'SQL', 'Statistics', 'Tableau'}

In [6]:
job_skills.add('SQL')

job_skills

{'Power BI', 'Python', 'SQL', 'Statistics', 'Tableau'}

In [8]:
job_skills.pop()

'Statistics'

In [9]:
job_skills

{'Power BI', 'Python', 'SQL', 'Tableau'}

In [11]:
job_skills.remove('Power BI')

In [12]:
job_skills

{'Python', 'SQL', 'Tableau'}

In [13]:
# make a list of skills but some repeated values
skill_list = ['python', 'sql', 'statistics', 'tableau', 'python', 'sql', 'statistics', 'tableau']

In [15]:
skill_set = set(skill_list)

skill_set

{'python', 'sql', 'statistics', 'tableau'}

In [16]:
unique_skill_list = list(skill_set)

unique_skill_list

['tableau', 'python', 'sql', 'statistics']

In [17]:
print(type(skill_set))
print(type(unique_skill_list))

<class 'set'>
<class 'list'>

# AI Generated Questions

In [18]:
# Problem: Create a set named colors containing the elements "red", "green", and "blue".
colours = {'red', 'green', 'blue'}

colours

{'blue', 'green', 'red'}

In [19]:
# Problem: Add the item "yellow" to the colors set.
colours.add('yellow')

colours

{'blue', 'green', 'red', 'yellow'}

In [20]:
# Problem: Remove the item "green" from the colors set.
colours.remove('green')

colours

{'blue', 'red', 'yellow'}

In [22]:
# Problem: Try adding the item "blue" to the colors set again. What happens?
colours.add('blue')

colours

{'blue', 'red', 'yellow'}

In [24]:
# Problem: Given another set more_colors = {"purple", "orange"}, find the union of colors and more_colors.
more_colours = {'purple', 'orange'}

union_colours = colours.union(more_colours)

union_colours

{'blue', 'orange', 'purple', 'red', 'yellow'}

In [25]:
# Problem: Given another set primary_colors = {"red", "blue", "yellow"}, find the intersection of colors and primary_colors.
primary_colours = {'red', 'blue', 'yellow'}

intersection_colours = colours.intersection(primary_colours)

intersection_colours

{'blue', 'red', 'yellow'}

In [26]:
# Problem: Find the difference between colors and primary_colors.
difference_set = colours.difference(primary_colours)

difference_set

set()

In [27]:
# Find the symmetric difference between colors and primary_colors.
symmetric_colours = colours.symmetric_difference(primary_colours)

symmetric_colours

set()

In [31]:
# Problem: Given a list skills = ["python", "sql", "statistics", "tableau", "python", "sql"], remove the duplicates using a set.
skills = ["python", "sql", "statistics", "tableau", "python", "sql"]

unique_skills = list(set(skills))

unique_skills

['tableau', 'python', 'sql', 'statistics']

In [32]:
# Problem: Convert the set colors back to a list.
colours_list = list(colours)

colours_list

['blue', 'red', 'yellow']

# Practise

In [33]:
# 🟩 Add Job Title to Set (1.10.1)

# # Code Needed
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}

unique_job_titles.add('Data Engineer')

unique_job_titles

{'Data Analyst',
 'Data Engineer',
 'Data Scientist',
 'Machine Learning Engineer'}

In [34]:
# Remove Job Title from Set (1.10.2)

# Code Needed
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}

unique_job_titles.remove('Machine Learning Engineer')

unique_job_titles

{'Data Analyst', 'Data Scientist'}

In [35]:
# Create Unique Job Locations Set (1.10.3)

# Code Needed
job_locations = ['New York', 'San Francisco', 'New York', 'Austin', 'San Francisco']

unique_job_locations = list(set(job_locations))

unique_job_locations

['San Francisco', 'Austin', 'New York']

In [37]:
# Union of Job Skills Sets (1.10.4)

# Code Needed
skills_set1 = {'Python', 'SQL', 'Tableau'}
skills_set2 = {'R', 'SQL', 'Machine Learning'}

total_skills = skills_set1.union(skills_set2)

total_skills

{'Machine Learning', 'Python', 'R', 'SQL', 'Tableau'}