In [3]:
amit_skill = ('Excel', 'Tableau', 'Python', 'SQL')

amit_skill

('Excel', 'Tableau', 'Python', 'SQL')

In [2]:
type(amit_skill)

tuple

In [4]:
amit_skill[0]

'Excel'

In [5]:
amit_skill[0:2]

('Excel', 'Tableau')

In [7]:
amit_skill[2:5]

('Python', 'SQL')

In [10]:
amit_skill[-2]

'Python'

In [11]:
amit_skill.append('r')

AttributeError: 'tuple' object has no attribute 'append'

In [12]:
amit_skill.add('r')

AttributeError: 'tuple' object has no attribute 'add'

In [13]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [19]:
amit_skills = ('Excel', 'SQL', 'Tableau', 'R')
print(id(amit_skills))

new_skills = ('Python', 'Power BI', 'Statistics')

amit_skills += new_skills

amit_skills
id(amit_skills)

2230172867520

2230178523040

In [20]:
amit_skills = ['Excel', 'SQL', 'Tableau', 'R']
print(id(amit_skills))

new_skills = ['Python', 'Power BI', 'Statistics']

amit_skills += new_skills

amit_skills
id(amit_skills)

2230178322688

2230178322688

# AI Generated Questions

In [21]:
# Question: Create a tuple named fruits containing 'apple', 'banana', and 'cherry'. 
# Print the first item.
fruits = ('apple', 'banana', 'cherry')

fruits[0]

'apple'

In [22]:
# Question: Using the fruits tuple, print a new tuple containing only 'apple' and 'banana'.
fruits[:2]

('apple', 'banana')

In [23]:
# Question: Add 'orange' to the fruits tuple by converting it to a list and back to a tuple.
fruit_list = list(fruits)
fruit_list.append('orange')
fruits = tuple(fruit_list)

fruits

('apple', 'banana', 'cherry', 'orange')

In [25]:
# Question: Remove 'banana' from the fruits tuple by converting it to a list and back to a tuple.
fruits_list = list(fruits)
fruits_list.remove('banana')
fruits = tuple(fruits_list)

fruits

('apple', 'cherry', 'orange')

In [28]:
# Question: Create a tuple languages containing 'Python', 'Java', and 'C++'.
# Use the join() method to create a string with these languages separated by commas.
languages = ('Python', 'Java', 'C++')
print(', '.join(languages))

Python, Java, C++

In [30]:
#  Create a tuple named numbers with values 1, 2, 3, and 4. Delete the tuple and try to print it.
numbers = (1, 2, 3, 4)
del numbers

try:
    print(numbers)
except NameError:
    print("The tuple is deleted.")

The tuple is deleted.

In [33]:
# Question: Create a tuple with numbers from 0 to 4 using the range() function.
numbers = tuple(range(0,4))

numbers

(0, 1, 2, 3)

In [34]:
# Question: Create two tuples, odd_numbers containing 1, 3, 5 and even_numbers containing 2, 4, 6. 
# Concatenate them to form a new tuple.
odd_numbers = (1, 3, 5)
even_numbers = (2, 4, 6)

all_numbers = odd_numbers + even_numbers

all_numbers

(1, 3, 5, 2, 4, 6)