# AND operator

In [2]:
job_work_from_home = True
job_health_insurance = True

In [3]:
job_work_from_home and job_health_insurance

True

In [4]:
job_work_from_home = True
job_health_insurance = False

job_health_insurance and job_work_from_home

False

In [6]:
job_work_from_home = True
job_health_insurance = True
job_no_degree_mention = True

job_health_insurance and job_work_from_home and job_no_degree_mention

True

# OR operator

In [7]:
job_work_from_home = True
job_health_insurance = True

job_work_from_home or job_health_insurance

True

In [8]:
job_work_from_home = True
job_health_insurance = False

job_work_from_home or job_health_insurance

True

In [9]:
job_work_from_home = False
job_health_insurance = False

job_work_from_home or job_health_insurance

False

In [10]:
job_work_from_home = False
job_health_insurance = False
job_no_degree_mention = True

job_health_insurance or job_work_from_home or job_no_degree_mention

True

# NOT operator

In [11]:
not True

False

In [12]:
job_work_from_home = False
job_health_insurance = False
job_no_degree_mention = True

job_health_insurance or job_work_from_home or not job_no_degree_mention

False

In [14]:
if job_health_insurance or job_work_from_home or not job_no_degree_mention:
    print("Meets Job Conditions")
else:
    print("Not Meet Conditions!!")

Not Meet Conditions!!

# Membership Operator (in)

In [15]:
"Data" in "Data Analyst!"

True

In [16]:
"data" in "Data Analyst"

False

In [17]:
job_skills = ['Python', 'SQL', 'Tableau', 'Excel']

In [18]:
"Python" in job_skills

True

In [19]:
"Excel" not in job_skills

False

# Identity Operator (is)

In [24]:
salary_amit = 100_000
salary_gungun = 100_000

salary_amit == salary_gungun

True

In [25]:
salary_amit is salary_gungun

False

In [26]:
print(id(salary_amit))
print(id(salary_gungun))

1752296562448
1752296562512

In [27]:
core_skills = ['Python', 'R', 'SQL']

In [29]:
amit_skills = core_skills

In [30]:
amit_skills is core_skills

True

# AI generated Questions

In [32]:
# Question: Given two boolean variables a and b, both set to True, use a logical operator to determine if both are True.

a = True
b = True

result = a and b
print(result)

True

In [33]:
# Question: Check if at least one of the variables x or y is True. Let x be False and y be True.
x = False
y = True

result = x or y
print(result)

True

In [34]:
# Question: Negate the boolean value of z where z is False.
z = False

result = not z
print(result)

True

In [46]:
# Question: Create two variables num1 and num2 both set to 100.
# Check if they are identical using an identity operator.
num_1 = '100'
num_2 = '100'

result = num_1 is num_2
print(result)

True

In [40]:
# Question: Create a list list1 with elements ['a', 'b', 'c'] and another variable list2 pointing to the same list. 
# Check if list1 and list2 are the same object.
list1 = ['a', 'b', 'c']
list2 = list1

result = list1 is list2
print(result)

True

In [49]:
# Question: Create two lists list3 and list4 both with elements ['x', 'y', 'z'].
# Check if they are not the same object.
list_3 = ['x', 'y', 'z']
list_4 = ['x', 'y', 'z']

result = list_3 is not list_4
print(result)

True

In [50]:
# Question: Check if the string 'hello' is present in the list words = ['hello', 'world'].
words = ['hello', 'world']

result = 'hello' in words
print(result)

True

In [51]:
# Question: Check if the number 5 is in the tuple (1, 2, 3, 4, 5).
numbers = (1, 2, 3, 4, 5)

result = 5 in numbers
print(result)

True

In [52]:
# Question: Verify that the character 'a' is not in the string 'hello'.
word = 'hello'

result = 'a' in word
print(result)

False

In [53]:
# Question: Check if the element 10 is not in the list values = [1, 2, 3, 4, 5]
values = [1, 2, 3, 4, 5]

result = 10 in values
print(result)

False

# Practise Question

In [57]:
# Check Object Identity
job_title1 = 'Data Engineer'
job_title2 = 'Data Scientist'

result = job_title1 is job_title2
print(result)

False

In [58]:
# Check Membership in List
job_locations = ['New York', 'San Francisco', 'Austin']

result = 'Austin' in job_locations
print(result)

True

In [59]:
# Check Membership in List
job_locations = ['New York', 'San Francisco', 'Austin']

result = 'New Delhi' in job_locations
print(result)

False

In [60]:
# Check Substring Not in String
job_title = 'Data Analyst'
job_description = 'Data Scientist at Tech Corp'

result = job_title in job_description
print(result)

False

In [62]:
# Check Multiple Memberships
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

result = "Data Analyst" and "Data Engineer" in job_titles
print(result)

False

In [63]:
# Check Multiple Memberships
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

result = "Data Analyst" and "Data Scientist" in job_titles
print(result)

True