# For Loops

In [13]:
numbers = [0, 1, 2, 3, 4, 5]

for number in numbers:
    print(number)

0
1
2
3
4
5

In [14]:
characters = "PYTHON"

for character in characters:
    print(character)

P
Y
T
H
O
N

In [15]:
years_experience = {
    'Luke' : 3,
    'Kelly' : 6,
    'Ken' : 4,
    'Alex' : 3
}

In [22]:
for person in years_experience:
    print(person) # This will only extract only thw Keys.

Luke
Kelly
Ken
Alex

In [23]:
for person in years_experience.values():
    print(person) # -> This will onlt extract the values of the dictionary.

3
6
4
3

In [25]:
for person in years_experience.items():
    print(person) # -> This will extract the both keys and values of the dictionary.

('Luke', 3)
('Kelly', 6)
('Ken', 4)
('Alex', 3)

In [26]:
for key, value in years_experience.items():
    print(key, value)

Luke 3
Kelly 6
Ken 4
Alex 3

In [32]:
# Applicant with more than 5 years of experience

for key, value in years_experience.items():
    if value > 3:
        print(f'{key} has {value} years of experience.')

Kelly has 6 years of experience.
Ken has 4 years of experience.

In [33]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

# While Loops

In [35]:
while False:
    print('gungun')

In [38]:
count = 0

while count <= 5:
    print(count)
    count += 1

0
1
2
3
4
5

In [42]:
years_experience = {
    'Luke' : 3,
    'Kelly' : 6,
    'Ken' : 4,
    'Alex' : 3,
    'Mary' : 7
}

In [50]:
years = 0
index = 0

years_list = list(years_experience.items())
while years < 5:
    keys, years = years_list[index]
    if years >= 5:
        print(keys, years)
    index += 1

Kelly 6

# AI Generated Questions

In [51]:
# Question: Write a while loop that prints numbers from 1 to 10.
num = 1
while num <= 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

In [52]:
# Question: Write a while loop that prints "Even" for even numbers and "Odd" for odd numbers from 1 to 10.
num = 1
while num <= 10:
    if num % 2 == 0:
        print(f"{num} is even number.")
    else:
        print(f"{num} is odd number.")
    num += 1

1 is odd number.
2 is even number.
3 is odd number.
4 is even number.
5 is odd number.
6 is even number.
7 is odd number.
8 is even number.
9 is odd number.
10 is even number.

In [53]:
# Question: Write a for loop that iterates over a list of fruits and prints each fruit.
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [55]:
# Question: Write a for loop that prints the index and value of each item in a list of colors
colors = ["Red", "Green", "Blue"]

for index, color in enumerate(colors):
    print(F"Index {index}: {color}")

Index 0: Red
Index 1: Green
Index 2: Blue

In [57]:
# Question: Write nested for loops to print a multiplication table for numbers 1 to 3.
for i in range(1, 4):
    for j in range(1, 4):
        print(f"{i} * {j} = {i * j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

In [62]:
# Question: Write a for loop that iterates over a list of numbers and stops if it encounters the number 5.

for num in range(1, 11):
   if num == 5:
      break
   print(num)

1
2
3
4
5
6
7
8

In [63]:
# Question: Write a for loop that iterates over a list of numbers and skips the number 5.

for num in range (1, 11):
    if num == 5:
        continue
    print(num)

1
2
3
4
6
7
8
9
10

In [64]:
# Question: Write a for loop using the range function to print numbers from 5 to 15.

for num in range(5, 16):
    print(num)

5
6
7
8
9
10
11
12
13
14
15

In [65]:
# Question: Write a for loop to print all the even numbers between 1 and 20.

for num in range (1, 21):
    if num % 2 == 0:
        print(num)

2
4
6
8
10
12
14
16
18
20

In [68]:
# Question: Write nested for loops to print the following pattern:

for i in range(1, 6):
    for j in range(i):
        print('*', end='')
    print()

*
**
***
****
*****

In [70]:
# Question: Write a while loop that prints numbers from 1 to 5.
num = 1
while num <= 5:
    print(num)
    num += 1

1
2
3
4
5

In [71]:
# Question: Write a for loop that iterates over the list [1, 2, 3, 4, 5] and prints each number.
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [72]:
# Question: Write a while loop that checks if the user is qualified for each job based on their years of experience.
user_years_of_experience = 2
total_positions = 3
position_index = 0
position_experience_requirements = [1, 3, 2]

while position_index < total_positions :
    required_years = position_experience_requirements[position_index]
    if user_years_of_experience >= required_years:
        print('Qualiied')
    else:
        print('Not Qualified')
    position_index += 1

Qualiied
Not Qualified
Qualiied

In [73]:
# Question: Write a for loop that checks if the user is qualified for each job based on their years of experience.

user_years_of_experience = 2
position_experience_requirements = [1, 3, 2]

for required_years in position_experience_requirements:
    if user_years_of_experience >= required_years:
        print('Qualified')
    else:
        print('Not Qualified')

Qualified
Not Qualified
Qualified

In [76]:
# Question: Use enumerate in a for loop to print the position index and the years of experience required for each job.
position_experience_requirements = [1, 3, 2]

for index, years in enumerate(position_experience_requirements, start=1):
    print(f"Postion {index} requires {years} years of experience.")

Postion 1 requires 1 years of experience.
Postion 2 requires 3 years of experience.
Postion 3 requires 2 years of experience.

In [78]:
# Question: Write a for loop using range to print numbers from 1 to 5.
for x in range(1, 6):
    print(x)

1
2
3
4
5

In [81]:
# Question: Write nested loops to print required skills for each job role.
roles = ['Data Scientist', 'Machine Learning Engineer']
skills = ['Python', 'SQL', 'Machine Learning']

for role in roles:
    print(role)
    for skill in skills:
        print('- ', skill)

Data Scientist
-  Python
-  SQL
-  Machine Learning
Machine Learning Engineer
-  Python
-  SQL
-  Machine Learning

In [82]:
# Question: Write a while loop that prints "Hello, World!" 3 times.
count = 0
while count < 3:
    print("Hello, Amit!")
    count += 1

Hello, Amit!
Hello, Amit!
Hello, Amit!

In [88]:
# Question: Write a nested for loop that prints each combination of colors = ['red', 'green'] and shapes = ['circle', 'square'].
colors = ['Red', 'Green']
shapes = ['Circle', 'Square']

for color in colors:
    for shape in shapes:
        print(f"{color} : {shape}")

Red : Circle
Red : Square
Green : Circle
Green : Square

In [91]:
# Question: Write a while loop that calculates the factorial of 5.
num = 5
fact = 1
while num > 0:
    fact *= num
    num -= 1
print(fact)

120

In [94]:
# Write a for loop that calculates the sum of the elements in the list numbers = [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
total = 0

for number in numbers:
    total += number
print(total)

15

# Practise Question

In [96]:
# Print Job Titles
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

for titles in job_titles:
    print(titles)

Data Scientist
Data Analyst
Machine Learning Engineer

In [98]:
# Total Job Postings (1.13.2)
job_postings = [5, 10, 15, 20, 25]
total_jobs_posting = 0

for jobs in job_postings:
    total_jobs_posting += jobs
print(total_jobs_posting)

75

In [100]:
# Print Job Titles with Index
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

for index, job_title in enumerate(job_titles, start=1):
    print(f"Job Title {index} : {job_title}")

Job Title 1 : Data Scientist
Job Title 2 : Data Analyst
Job Title 3 : Machine Learning Engineer

In [104]:
# Find First Engineer
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']

for job_title in job_titles:
    if "Engineer" in job_title:
        print(job_title)
        break

Machine Learning Engineer

In [105]:
# Print Job Titles Containing 'Data'.
positions_skills = {
    'Data Scientist': ['Python', 'R'],
    'Data Analyst': ['SQL', 'Excel'],
    'Machine Learning Engineer': ['Python', 'TensorFlow']
}

for job_titles in positions_skills.keys():
    if 'Data' in job_titles:
        print(job_titles)

Data Scientist
Data Analyst