In [1]:
numbers = [x for x in range(1, 101)]

numbers

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [4]:
numbers = []

for number in range(1, 11):
    numbers.append(number)

In [5]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
numbers = [x*2 for x in range(1, 50)]

numbers

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [8]:
numbers = [float(x) for x in range(1, 51)]

numbers

[1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0]

In [9]:
Characters = [x for x in 'PYTHON']

Characters

['P', 'Y', 'T', 'H', 'O', 'N']

In [10]:
character = {x for x in "PYTHON"}

character

{'H', 'N', 'O', 'P', 'T', 'Y'}

In [14]:
letter = (x for x in "PYTHON")
for char in letter:
    print(char)

P
Y
T
H
O
N

In [16]:
job_list = ['Data Analyst', 'Senior Data Analyst', 'Data Engineer', 'Junior Data Analyst', 'Data Scientist']

In [19]:
analyst_list = []

for job in job_list:
    if 'Data Analyst' in job:
        analyst_list.append(job)

analyst_list

['Data Analyst', 'Senior Data Analyst', 'Junior Data Analyst']

In [23]:
analyst_list = [job for job in job_list if 'Data Analyst' in job]

analyst_list

['Data Analyst', 'Senior Data Analyst', 'Junior Data Analyst']

In [24]:
from datasets import load_dataset

# Load the dataset
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Create a list of job titles from the dataset
job_list = df['job_title'].tolist()

# Remove any non-string values from the list
job_list = [job for job in job_list if isinstance(job, str)]

In [27]:
analyst_list = []

for job in job_list:
    if 'Data Analyst' in job:
        analyst_list.append(job)

len(analyst_list)

162708

In [28]:
analyst_list = [job for job in job_list if 'Data Analyst' in job]

len(analyst_list)

162708

# Practise Questions

In [30]:
# Convert Salaries to EUR

salaries_usd = [100000, 120000, 80000, 90000]

salaries_euro = [int(salary * 0.92) for salary in salaries_usd]

salaries_euro

[92000, 110400, 73600, 82800]

In [32]:
# Create List of Data Jobs
job_experience = {'Data Scientist': 3, 'Data Analyst': 1, 'Machine Learning Specialist': 4, 'Data Engineer': 2}

data_jobs = [key for key, value in job_experience.items()]

print(type(data_jobs))
data_jobs

<class 'list'>

['Data Scientist',
 'Data Analyst',
 'Machine Learning Specialist',
 'Data Engineer']

In [44]:
# Extract High Salary Jobs
job_salary_dicts = [{'job_title': 'Data Scientist', 'salary': 100000}, 
                    {'job_title': 'Data Analyst', 'salary': 120000}, 
                    {'job_title': 'Data Engineer', 'salary': 80000}, 
                    {'job_title': 'Machine Learning Engineer', 'salary': 90000}
                    ]
     
salary_threshold = 90_000
high_salary_jobs = [job['job_title'] for job in job_salary_dicts if job['salary'] >= salary_threshold]

high_salary_jobs

['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

# AI Generated Questions

In [45]:
# Question: Create a list of squares of numbers from 1 to 10 using a list comprehension.

squares = [x**2 for x in range(1, 11)]

squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [46]:
# Question: Create a list of even numbers from 1 to 20 using a list comprehension.
even_num = [x for x in range(1, 21) if x % 2 == 0]

even_num

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [49]:
# Question: Create a list of the lengths of each word in a given sentence using a list comprehension.
sentence = "List comprehensions are a concise way to create lists"
word_length = [len(word) for word in sentence.split()]

word_length

[4, 14, 3, 1, 7, 3, 2, 6, 5]

In [52]:
# Question: Create a 3x3 matrix using nested list comprehensions.
matrix = [[j for j in range(3)] for i in range(3)]

matrix

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [53]:
# Question: Create a list of numbers from 1 to 30 that are divisible by both 3 and 5 using a list comprehension.
numbers = [x for x in range(1, 31) if x % 3 == 0 and x % 5 == 0]

numbers

[15, 30]

In [55]:
# Question: Flatten a list of lists using a list comprehension.
list_of_lists = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

faltten_list = [num for sublist in list_of_lists for num in sublist]

faltten_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
# Question: Create a dictionary where the keys are numbers from 1 to 5 and the values are their squares using a dictionary comprehension.

square_dict = {num : num**2 for num in range(1, 6)}

square_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [58]:
# Question: Convert a list of strings to uppercase using a list comprehension.
words = ["hello", "world", "python", "list", "comprehension"]

upper_case = [word.upper() for word in words]

upper_case

['HELLO', 'WORLD', 'PYTHON', 'LIST', 'COMPREHENSION']

In [59]:
# Question: Create a list of the squares of even numbers from 1 to 10 using a single list comprehension.
squares = [x**2 for x in range(1, 11) if x % 2 == 0]

squares

[4, 16, 36, 64, 100]

In [61]:
# Question: Remove vowels from a given string using a list comprehension.
string = "List comprehensions in Python"
vowels = "aeiouAEIOU"

no_vowels = ''.join([char for char in string if char not in vowels])

no_vowels

'Lst cmprhnsns n Pythn'

In [62]:
# Create a list of the first letters of each word in the list ['apple', 'banana', 'cherry'].
first_letter = [word[0] for word in ['apple', 'banana', 'cherry']]

first_letter

['a', 'b', 'c']

In [63]:
# Question: Create a list of all pairs of numbers (x, y) where x is from 1 to 3 and y is from 4 to 6.
pairs = [(x, y) for x in range(1, 4) for y in range (4, 7)]

pairs

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [64]:
# Question: Flatten the list [[1, 2, 3], [4, 5], [6, 7, 8]] using list comprehension.
list_of_lists = [[1, 2, 3], [4, 5], [6, 7, 8]]

flatten_list = [num for sublist in list_of_lists for num in sublist]

flatten_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [65]:
# Question: Create a list of lengths of each word in the list ['hello', 'world', 'python'].
words = ['hello', 'world', 'python']

word_length = [len(word) for word in words]

word_length

[5, 5, 6]

In [69]:
# Question: Create a list of numbers from 1 to 20 where each number is replaced by 'Fizz' if it's divisible by 3, 
# 'Buzz' if it's divisible by 5, 
# and 'FizzBuzz' if it's divisible by both 3 and 5. 
# Otherwise, keep the number as is.

fizz_buzz = ['FizzBuzz' if x % 3 == 0 and x % 5 == 0 else 'Fizz' if x % 3 == 0 else 'Buzz' if x % 5 == 0 else x for x in range(1, 21)]

fizz_buzz

[1,
 2,
 'Fizz',
 4,
 'Buzz',
 'Fizz',
 7,
 8,
 'Fizz',
 'Buzz',
 11,
 'Fizz',
 13,
 14,
 'FizzBuzz',
 16,
 17,
 'Fizz',
 19,
 'Buzz']

In [71]:
# Question: Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.
cubes_tuple = [(x, x**2) for x in range(1, 6)]

cubes_tuple

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]