In [2]:
skill_list = ['Python', 'SQL', 'Excel']

len(skill_list)

3

In [4]:
count = 0
for skill in skill_list:
    count += 1
count

3

# Built-In Functions

In [5]:
print(skill_list)

['Python', 'SQL', 'Excel']

In [6]:
len(skill_list)

3

In [7]:
type(skill_list)

list

In [8]:
range(0, 5)

range(0, 5)

In [9]:
data_salaries = [95000, 100000, 85000, 97000, 140000]

In [10]:
min(data_salaries)

85000

In [11]:
max(data_salaries)

140000

In [12]:
sum(data_salaries)

517000

In [13]:
sorted(data_salaries)

[85000, 95000, 97000, 100000, 140000]

# User-Defined Functions

In [14]:
base_salary = 100_000
bonus_rate = 0.10

total_salary = base_salary * (1 + bonus_rate)

total_salary

110000.00000000001

In [15]:
def calculate_salary():
    base_salary = 100_000
    bonus_rate = 0.10

    total_salary = base_salary * (1 + bonus_rate)

    return total_salary

In [16]:
calculate_salary()

110000.00000000001

In [17]:
def calculate_salary(base_salary, bonus_rate):
    total_salary = base_salary * (1 + bonus_rate)

    return total_salary

In [19]:
calculate_salary(base_salary, bonus_rate)

110000.00000000001

In [20]:
calculate_salary(110000, 0.20)

132000.0

In [21]:
def calculate_salary(base_salary, bonus_rate=0.10):
    total_salary = base_salary * (1 + bonus_rate)

    return total_salary

In [22]:
calculate_salary(100000)

110000.00000000001

In [23]:
bonus_rate = 0.50
calculate_salary(100000, bonus_rate)

150000.0

# Practise Questions

In [24]:
# Job Title Contains
job_title = 'Data Scientist'
keyword = 'Data'

keyword in job_title

True

In [28]:
# Average Salary
salaries = [95000, 120000, 105000, 90000, 130000]

average_salary = (max(salaries) + min(salaries)) / 2
average_salary

110000.0

In [72]:
# Job Posting Summary
job_postings = [
    {'title': 'Data Scientist', 'location': 'New York', 'salary': 95000},
    {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000},
    {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}
]

def job_summary(title):
    for job in job_postings:
        if job['title'] == title:
            for key, value in job.items():
                print(f"{key}: {value}")

job_summary('Data Scientist')

title: Data Scientist
location: New York
salary: 95000

# AI Generated Questions

In [34]:
# Define a function named greet that takes a name as an argument and prints a greeting message.

def greet(name):
    print(f"Hello, {name}!")

In [37]:
greet('Gungun')

Hello, Gungun!

In [38]:
# Define a function named square that takes a number as an argument and returns its square.

def square(num):
    return num**2

In [39]:
square(4)

16

In [40]:
# Define a function named power that takes two arguments base and exponent, with the default value of exponent being 2, 
# and returns the result of base raised to the power of exponent.

def power(base, exp=2):
    return base ** exp

In [41]:
power(4)

16

In [43]:
power(4, 3)

64

In [44]:
# Define a function named introduce that takes three arguments name, age, and city, and prints a sentence introducing the person. 
# Use keyword arguments to call the function.

def introduce(name, age, city):
    print(f"My name is {name}, I am {age} years old, and I live in {city}.")

In [45]:
introduce('Gungun', 25, 'New Delhi')

My name is Gungun, I am 25 years old, and I live in New Delhi.

In [48]:
# Define a function named sum_all that takes a variable number of arguments and returns their sum.

def sum_all(*args):
    return sum(args)

In [49]:
sum_all(1, 2, 5, 9, 40)

57

In [55]:
# Define a function named print_info that takes variable-length keyword arguments and prints the keys and values.

def print_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [56]:
print_info(name="Alice", age=30, city="Los Angeles")

name: Alice
age: 30
city: Los Angeles

In [57]:
# Define a function named multiply that takes two arguments and returns their product. Write a docstring for the function.

def multiply(a, b):
    return a * b

In [58]:
multiply(2, 3)

6

In [95]:
# Job Posting Summary
job_postings = [
    {'title': 'Data Scientist', 'location': 'New York', 'salary': 95000},
    {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000},
    {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}
]

def job_summary(title):
    for job in job_postings:
        if job['title'] == title:
            for key, value in job.items():
                print(f"{key}: {value}")

job_summary('Data Analyst')

title: Data Analyst
location: San Francisco
salary: 85000