In [2]:
mul_two = lambda x: x * 2

In [5]:
mul_two(10)

20

In [8]:
(lambda x, y: (x * 2) + y)(3, 4)

10

In [9]:
salary_list = [100000, 200000, 150000, 120000, 80000, 750000]

# Calculate total_salary of base_salary * (1 + bonus_rate)
def calculate_salary(base_salary, bonus_rate = 0.1):

    total_salary = base_salary * (1 + bonus_rate)
    
    return total_salary

In [12]:
total_salary_list = [calculate_salary(salary) for salary in salary_list]

total_salary_list

[110000.00000000001,
 220000.00000000003,
 165000.0,
 132000.0,
 88000.0,
 825000.0000000001]

In [19]:
total_salary_list = [(lambda x: calculate_salary(x))(salary) for salary in salary_list]

total_salary_list

[110000.00000000001,
 220000.00000000003,
 165000.0,
 132000.0,
 88000.0,
 825000.0000000001]

In [20]:
jobs_data = [
    {'job_title': 'Data Scientist',  'job_skills': ['Python', 'Machine Learning'], 'remote': True},
    {'job_title': 'Data Analyst',  'job_skills': ['Excel', 'SQL'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'Keras'], 'remote': True},
    {'job_title': 'Software Developer', 'job_skills': ['Java', 'C++'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['R', 'Statistics'], 'remote': False}
]

In [24]:
list(filter(lambda job: job['remote'] and 'Python' in job['job_skills'], jobs_data))

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Keras'],
  'remote': True}]

# Practise Questions

In [27]:
# Calculate Average Salary
salaries = [95000, 120000, 105000, 90000, 130000]

(lambda salary: (sum(salary)) / len(salary))(salaries)

108000.0

In [36]:
# Filter Job Titles
job_titles = ['Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Data Analyst']

list(filter(lambda job: "Data" in job, job_titles))

['Data Scientist', 'Data Engineer', 'Data Analyst']

In [37]:
# Filter Remote Python Jobs
job_postings = [
    {'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True},
    {'title': 'Data Analyst', 'skills': ['Excel', 'SQL'], 'remote': False},
    {'title': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow'], 'remote': True},
    {'title': 'Software Developer', 'skills': ['Java', 'C++'], 'remote': True}
]

In [40]:
list(filter(lambda job: job['remote'] and 'Python' in job['skills'], job_postings))

[{'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True},
 {'title': 'Machine Learning Engineer',
  'skills': ['Python', 'TensorFlow'],
  'remote': True}]

# AI Generated Questions

In [41]:
# Question: Write a lambda function that takes two numbers and returns their sum.
sum_num = lambda x, y: x + y

In [42]:
sum_num(2, 3)

5

In [43]:
# Question: Write a lambda function that takes a list of numbers and returns a new list with each number squared.
square_number = lambda x: [x**2 for x in numbers]

In [44]:
numbers = [1, 2, 3, 4, 5]

In [45]:
square_number(numbers)

[1, 4, 9, 16, 25]

In [48]:
# Question: Use a lambda function with the map function to convert a list of temperatures in Celsius to Fahrenheit.
celsius = [0, 20, 30, 40]

fahrenheit = list(map(lambda x: (x * 9/5) + 32, celsius))

In [49]:
fahrenheit

[32.0, 68.0, 86.0, 104.0]

In [52]:
# Question: Use a lambda function with the filter function to filter out even numbers from a list.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

odd_number = list(filter(lambda x: x % 2 != 0, numbers))

In [53]:
odd_number

[1, 3, 5, 7, 9]

In [56]:
# Question: Use a lambda function with the reduce function to calculate the product of a list of numbers. 
# (Hint: You need to import reduce from functools)

from functools import reduce
numbers = [1, 2, 3, 4, 5]

product = reduce(lambda x, y: x * y, numbers)

In [57]:
product

120

In [58]:
# Question: Use a lambda function to sort a list of tuples based on the second element.
data = [('apple', 2), ('banana', 1), ('cherry', 3)]
sorted_tuples = sorted(data, key=lambda x: x[1])

In [59]:
sorted_tuples

[('banana', 1), ('apple', 2), ('cherry', 3)]

In [60]:
# Question: Write a lambda function that takes a number and returns "Even" if the number is even, and "Odd" if the number is odd.
even_or_odd = lambda x: "Even" if x % 2 == 0 else "Odd"

In [62]:
even_or_odd(3)

'Odd'