In [2]:
import my_module

ModuleNotFoundError: No module named 'my_module'

In [ ]:
my_module.skill_list

['Python', 'SQL', 'Excel']

In [ ]:
import job_analyzer

job_analyzer.calculate_salary(100000)

110000.00000000001

In [ ]:
from job_analyzer import calculate_salary

calculate_salary(100_000)

110000.00000000001

In [ ]:
%%writefile my_module2.py

skill_list = ['Python', 'SQL', 'Excel']

def skill(skill_name):
    return f"{skill_name} is my favorite skill!"

Writing my_module2.py

In [ ]:
import my_module2

my_module2.skill_list

['Python', 'SQL', 'Excel']

In [ ]:
from my_module2 import skill

skill('Python')

'Python is my favorite skill!'

In [3]:
from job_analyzer import calculate_salary, calculate_bonus

print(calculate_salary(100_000))

print(calculate_bonus(110_000, 100_000))

110000.00000000001
0.1

In [4]:
# Alternate
from job_analyzer import *
print(calculate_salary(100_000))

print(calculate_bonus(110_000, 100_000))

110000.00000000001
0.1

In [ ]:
%%writefile job_analyzer.py

def calculate_salary(base_salary, bonus_rate=0.10):
    """
    Calculate the Total Salary based on the Base Salary and the Bonus Rate.

    Args:
        base_salary(float): The base salary.
        bonus_rate(float): The bonus rate. Default is 0.10.

    Returns:
        float: The Total Salary
    """
    return base_salary * (1 + bonus_rate)

def calculate_bonus(total_salary, base_salary):
    """
    Calculate the bonus Rate base on the Total Salary and the Base Salary.

    Args:
        total_salary(float): The Total Salary.
        base_salary(float): The Base Salary.

    Returns:
        float: The Bonus Rate
    """
    return (total_salary - base_salary) / base_salary

Writing job_analyzer.py

In [5]:
help(calculate_salary)

Help on function calculate_salary in module job_analyzer:

calculate_salary(base_salary, bonus_rate=0.1)
    Calculate the Total Salary based on the Base Salary and the Bonus Rate.

    Args:
        base_salary(float): The base salary.
        bonus_rate(float): The bonus rate. Default is 0.10.

    Returns:
        float: The Total Salary

# Statistics Module

In [6]:
salary_list = [98000, 101000, 102000, 99000, 97000]

In [8]:
import statistics

statistics.mean(salary_list)

99400

In [9]:
from statistics import mean, median, mode

mean(salary_list)

99400

In [10]:
median(salary_list)

99000

In [11]:
mode(salary_list)

98000

# Practise Problems

In [21]:
%%writefile job_filter.py

def job_posting(Location):
    for job in job_postings:
        if job['location'] == Location:
            for key, value in job.items():
                print(job['title'])
                break

job_postings = [
    {'title': 'Data Scientist', 'location': 'New York'},
    {'title': 'Data Analyst', 'location': 'San Francisco'},
    {'title': 'Machine Learning Engineer', 'location': 'New York'}
]

Writing job_filter.py

In [1]:
import job_filter

job_filter.job_posting('Delhi')

Machine Learning Engineer

In [3]:
%%writefile annual_salary.py

def calculate_annual_salary(Monthly_Salary):
    return print("₹", format(Monthly_Salary * 12, ","))

Overwriting annual_salary.py

In [2]:
from annual_salary import calculate_annual_salary

calculate_annual_salary(31500)

₹ 378,000