In [51]:
class BaseSalary:
    def __init__(self, base_salary, bonus_rate=0.1, symbol="$"):
        self.base_salary = base_salary
        self.bonus_rate = bonus_rate
        self.symbol = symbol
        self.total_salary = base_salary * (1 + bonus_rate)
        self.bonus = (self.total_salary - self.base_salary)

    def __repr__(self):
        return f'{self.symbol}{self.base_salary:,.0f}'
    
    def show_salary(self):
        return f'{self.symbol}{self.total_salary:,.0f}'
    
    def show_bonus(self):
        return f'{self.bonus:,.0f}'

In [52]:
salary = BaseSalary(100000)

salary.symbol

'$'

In [53]:
salary

$100,000

In [55]:
salary.show_salary()

'$110,000'

In [56]:
salary.show_bonus()

'10,000'

In [72]:
class DataScienceJobsList:
    def __init__(self, jobs):
        self.jobs = jobs

    def __str__(self):
        jobs_str = 'Data Science Jobs: \n'
        for job in self.jobs:
            jobs_str += f"- {job['job_title']}: {job['job_skills']}\n"
        return jobs_str
    
    def split_skills(self):
        for job in self.jobs:
            job['jon_skills'] = job['job_skills'].split(', ')

In [70]:
data_science_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': "Python, SQL, Machine Learning"},
    {'job_title': 'Data Analyst', 'job_skills': "SQL, Excel, Python"},
    {'job_title': 'Machine Learning Engineer', 'job_skills': "Python, TensorFlow, Keras"}
]

In [71]:
jobs_list = DataScienceJobsList(data_science_jobs)
print(jobs_list)

Data Science Jobs:
- Data Scientist: Python, SQL, Machine Learning
- Data Analyst: SQL, Excel, Python
- Machine Learning Engineer: Python, TensorFlow, Keras

In [74]:
jobs_list = DataScienceJobsList(data_science_jobs)
jobs_list.split_skills()
print(jobs_list)

Data Science Jobs:
- Data Scientist: Python, SQL, Machine Learning
- Data Analyst: SQL, Excel, Python
- Machine Learning Engineer: Python, TensorFlow, Keras

## AI Generated Questions

**Question:** Create a class named `Student` that initializes with a student's name, age, and grades (as a list). Implement methods to calculate the average grade, display student details, and show the grades.

In [16]:
class Student:
    def __init__(self, name, age, grades):
        self.name = name
        self.age = age
        self.grades = grades

    def average_grade(self):
        return sum(self.grades) / len(self.grades)
    
    def student_details(self):
        return f"Student Name: {self.name}; Age: {self.age}"
    
    def show_grades(self):
        return f"Grades: {self.grades}"

In [19]:
# Example usage
student = Student("Alice", 20, [85, 90, 78, 92])

In [20]:
student.student_details()

'Student Name: Alice; Age: 20'

In [22]:
print(f"Average Grade: {student.average_grade()}")

Average Grade: 86.25

In [11]:
student.show_grades()

'Grades: [85, 90, 78, 92]'

**Question**: Create a class named `Product` that initializes with a product's name, price, and quantity. Implement methods to calculate the total cost (price * quantity), display product details, and apply a discount to the price.

In [64]:
class Product:
    def __init__(self, name, price, quantity):
        self.name = name
        self.price = price
        self.quantity = quantity

    def total_price(self):
        return f"${self.price * self.quantity}"
    
    def product_display(self):
        return f"Product Name: {self.name}; Price: ${self.price: .2f}; Quantity: {self.quantity}"
    
    def apply_discount(self, discount_rate):
        self.price *= (1 - discount_rate)

In [65]:
# Example usage
product = Product("Laptop", 1500, 3)

In [72]:
print(product.product_display())
print(f'Total Cost: {product.total_price()}')
product.apply_discount(0.1)
print(f'Price after discount: {product.price}')

Product Name: Laptop; Price: $ 1215.00; Quantity: 3
Total Cost: $3645.0
Price after discount: 1093.5

In [73]:
product.product_display()

'Product Name: Laptop; Price: $ 1093.50; Quantity: 3'

In [74]:
product.apply_discount(0.1)

**Question**: Create a class named `Book` that initializes with a book's title, author, and number of pages. Implement methods to display book details, check if the book is a novel (more than 100 pages), and show a summary.

In [75]:
class Book:
    def __init__(self, title, author, pages):
        self.title = title
        self.author = author
        self.pages = pages

    def book_details(self):
        return f"Book Title: {self.title}; Author: {self.author}; Pages: {self.pages}"
    
    def is_novel(self):
        return self.pages > 100
        
    def summary(self):
        return f"{self.title} by {self.author}."

In [76]:
# Example Usage
book = Book("1984", "George Orwell", 328)

In [77]:
book.author

'George Orwell'

In [78]:
book.summary()

'1984 by George Orwell.'

In [80]:
book.is_novel()

True

In [81]:
book.book_details()

'Book Title: 1984; Author: George Orwell; Pages: 328'

**Question**: Create a class named Car that initializes with a car's make, model, and year. Implement methods to display car details, calculate the car's age, and check if the car is antique (older than 25 years).

In [114]:
class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

    def car_details(self):
        return f"Car Make: {self.make}; Model: {self.model}; Year: {self.year}"
    
    def calculate_age(self, current_year):
        return current_year - self.year
    
    def is_antique(self, current_year):
        return self.calculate_age(current_year) > 25

In [115]:
# Example Usage
car = Car('Ford', 'Mustang', 1967)

In [116]:
car.make

'Ford'

In [117]:
car.car_details()

'Car Make: Ford; Model: Mustang; Year: 1967'

In [118]:
car.calculate_age(2024)

57

In [120]:
car.is_antique(2024)

True

**Question**: Create a class named `LukesList` that mimics a simple list. Implement methods to add items, retrieve items by index, set items by index, and return a string representation of the list.

In [126]:
class LukesList:
    def __init__(self):
        self._items = []

    def add(self, item):
        self._items.append(item)

    def __getitem__(self, index):
        return self._items[index]
    
    def __setitem__(self, index, value):
        self._items[index] = value

    def __repr__(self):
        return str(self._items)
    
    def __len__(self):
        return len(self._items)

In [128]:
# Example usage
my_list = LukesList()

In [129]:
my_list.add("Data Nerd")

In [131]:
my_list.add("Finance Nerd")

In [132]:
print(my_list)

['Data Nerd', 'Finance Nerd']

In [134]:
my_list[1]

'Finance Nerd'

In [135]:
len(my_list)

2

**Question**: Add a method to the `LukesList` class to remove an item by value. If the item is not found, the method should print a message.

In [136]:
class LukesList:
    def __init__(self):
        self._items = []

    def add(self, item):
        self._items.append(item)

    def __getitem__(self, index):
        return self._items[index]
    
    def __setitem__(self, index, value):
        self._items[index] = value

    def __repr__(self):
        return str(self._items)
    
    def __len__(self):
        return len(self._items)
    
    def remove(self, item):
        if item in self._items:
            self._items.remove(item)
        else:
            print("Item not found")

In [137]:
# Example usage
my_list = LukesList()
my_list.add("Data Nerd")
my_list.add("Finance Nerd")
print(my_list)

['Data Nerd', 'Finance Nerd']

In [138]:
my_list.remove("Data Nerd")
my_list

['Finance Nerd']

In [139]:
my_list.remove("Tech Nerd")

Item not found

**Question**: Create a class named `BaseSalary` to calculate total salary and bonus. Include methods to display the formatted salary and bonus.

In [143]:
class BaseSalary:
    def __init__(self, base_salary, bonus_rate=0.1, symbol='₹'):
        self.base_salary = base_salary
        self.bonus_rate = bonus_rate
        self.symbol = symbol
        self.total_salary = base_salary * (1 + bonus_rate)
        self.bonus = self.total_salary - self.base_salary

    def __repr__(self):
        return f"{self.symbol}{self.base_salary: ,.0f}"
    
    def show_total_salary(self):
        return f"{self.symbol}{self.total_salary: ,.2f}"
    
    def show_bonus(self):
        return f"{self.symbol}{self.bonus: ,.0f}"

In [144]:
# Example Usage
salary = BaseSalary(100000)

In [145]:
salary

₹ 100,000

In [146]:
salary.show_bonus()

'₹ 10,000'

In [147]:
salary.show_total_salary()

'₹ 110,000.00'